BITBUCKET_WORKSPACE=verychic
BITBUCKET_USER_EMAIL=your_email@example.com
BITBUCKET_API_KEY=your_api_key_here
ONEDRIVE_FILE_PATH=./metrics.xlsx
AZURE_TENANT_ID=your_tenant_id
AZURE_CLIENT_ID=your_azure_app_id
AZURE_CLIENT_SECRET=your_client_secret

